.idea
base.ts
index.ts
test.ts
browser.ts
stream-parser.ts
tsconfig*.json
tslint.json
rollup.config*.js
intern.json
.travis.yml
.nyc_output
.rpt2_cache
coverage
test*
spec*
*.spec.*
*.test.*
docs/
fixtures/
*.zip
*.tgz
BrowserStackLocal*
.releaserc.json
renovate.json
.github
